<app-navbar></app-navbar>
<div class="container bootstrap snippets bootdey" style="margin-top: 15px;">
  <div class="row d-flex justify-content-center">
    <!-- Inbox -->
    <div class="col-md-5 text-light rounded" style="background-color: rgb(51, 75, 83);">
      <div class="border-bottom" style="min-height: 50px; padding: 0.2in;">
        <strong>Messages</strong>
      </div>
      <ul class="friend-list" style="max-height: 3in; overflow-y: scroll; min-height: 1.5in;">
        <ng-container *ngFor="let message of getMessages()">
          <li class="bounceInDown msgHover bg-light"
            [ngClass]="{'active':message.wasRead==0, 'selected':message==selected}">
            <a class="clearfix" (click)="select(message)">
              <!-- show this message on click -->
              <div class="friend-name">
                <strong>{{message.businessName}}</strong>
              </div>
              <div class="last-message text-muted">{{message.content}}</div>
              <small class="time text-muted">{{message.date | date:"dd/MM/YYYY HH:mm"}}</small>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
    <!-- selected message -->
    <div class="col-md-6 bg-light text-dark rounded"
      style="background-color: rgb(51, 75, 83); border: 1px solid gray; padding: 10px;">
      <ng-container *ngIf="selected; then thenTemplate; else elseTemplate"></ng-container>
      <ng-template #thenTemplate>
        <div>
          <h4 class="d-inline">
            {{selected.businessName}}
          </h4>
          <button class="btn btn-sm btn-outline-dark" style="float:inline-end" (click)="deleteMessage(selected.id)">
            Delete
          </button>
        </div>
        <p>{{selected.content}}</p>
        <span [ngSwitch]="selected.messageType">
          <div *ngSwitchCase="1">
            <!-- review message, display form-->
            <form [formGroup]="selected.reviewForm" (ngSubmit)="addReview(selected.reviewForm)">
              <table class="table" style="text-align:center; border: 3px solid gray;">
                <tr>
                  <th>Liked:</th>
                  <td>
                    <input class="form-control" type="radio" value="1" formControlName="liked"
                      required><label>Liked</label>
                  </td>
                  <td>
                    <input class="form-control" type="radio" value="0" formControlName="liked"
                      required><label>Disliked</label>
                  </td>
                </tr>
                <tr>
                  <th>
                    Content:
                  </th>
                  <td colspan="2">
                    <textarea class="form-control" formControlName="content" rows="3">
                                                </textarea>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <input type="submit" [disabled]="!selected.reviewForm.valid" value="Add Review">
                  </td>
                </tr>
              </table>
            </form>
          </div>
          <!-- offer message, display offer button-->
          <p *ngSwitchCase="2">
            <button (click)="offerBtn(selected.extras.appointmentId,selected.extras.offer)"
              class="btn btn-primary btn-sm">Accept Offer</button>
          </p>
          <p *ngSwitchDefault>
            <!-- regular message, no extra-->
          </p>
        </span>
      </ng-template>
      <ng-template #elseTemplate>
        <h5>No message selected</h5>
      </ng-template>

    </div>
  </div>
</div>