<div class="page-wrap d-flex flex-row align-items-center">
    <div class="bg-dark container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="text-danger display-1 d-block">404</span>
                <div class="text-light mb-4 lead">The page you are looking for was not found.</div>
                <!-- route button to home page-->
                <button routerLink="/home" class="btn btn-secondary">Back Home</button>
            </div>
        </div>
    </div>
</div>